div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

figure img {
    width: 5rem;
    height: 5rem;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover img {
    opacity: .5;
}

.text-color {
    font-size: 1rem;
    color: darkcyan;
}

.input {
    font-size: 16px;
    font-family: inherit;
    width: auto;
    padding: 0.8em 6em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    margin: 1rem;
}

select {
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
}