.h4 {
    display: flex;
    align-content: flex-start;
    margin: 0;
    color:chocolate;
    padding: 2rem 0 0 0;
}

@mixin type-badge($color) {
    background-color: $color;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    margin: 0 0.2rem;
}

.fire {
    @include type-badge(rgb(255, 102, 0));
}

.grass {
    @include type-badge(green);
}

.poison {
    @include type-badge(rgb(52, 2, 100));
}

.flying {
    @include type-badge(rgba(124, 1, 240, 0.358));
}

.water {
    @include type-badge(deepskyblue);
}

.bug {
    @include type-badge(darkolivegreen);
}

.rock {
    @include type-badge(rgb(84, 77, 0));
}

.electric {
    @include type-badge(yellow);
}

.ground {
    @include type-badge(burlywood);
}

.fairy {
    @include type-badge(pink);
}

.fairy {
    @include type-badge(rgb(122, 9, 9));
}

.psychic {
    @include type-badge(rgb(153, 96, 141));
}

.steel {
    @include type-badge(darkgrey);
}

.ice {
    @include type-badge(aquamarine);
}

.ghost {
    @include type-badge(rgb(47, 2, 54));
}

.dragon {
    @include type-badge(rgb(53, 32, 117));
}


.ability-badge {
    @include type-badge(cornflowerblue);
}